
<ul class="nav nav-tabs">
  <li class="nav-item"><a routerLink="first" class="nav-link active">First</a></li>
  <li class="nav-item"><a routerLink="second" class="nav-link">Second</a></li>
  <li class="nav-item"><a routerLink="third/stuff/blah" class="nav-link">Third</a></li>
  <li class="nav-item"><a routerLink="third/stuff/blah/thirdA" class="nav-link">Third-A</a></li>
  <li class="nav-item"><a routerLink="third/stuff/blah/thirdB/another" class="nav-link">Third-B</a></li>
  <li class="nav-item"><a routerLink="third/stuff/blah/thirdB/another/thirdBA/" class="nav-link">Third-BA</a></li>
  <li class="nav-item"><a routerLink="third/stuff/blah/thirdC" class="nav-link">Third-C</a></li>
</ul>

<router-outlet></router-outlet>