<h2>Customer</h2>

<div [hidden]="isAddNew">
    <input type="button" value="Add new" (click)="addNew()">
    <br>
    <table border = 1>
        <tr *ngFor="let item of customers">
            <td>{{item.FName}}</td><td>{{item.LName}}</td>
        </tr>
    </table>
</div>

<div [hidden]="!isAddNew">
    <H3>Add new customer</H3>
    <p>First name: <input [value]="firstName" type="text" name="FName" (change)="setFirstName($any($event.target).value)"></p>
    <p>Last name: <input [value]="lastName" type="text" name="LName" (change)="setLastName($any($event.target).value)"></p>
    <p><input type="button" value="Save" (click)="save()"></p>
    <p><input type="button" value="Cancel" (click)="cancelAddNew()"></p>
</div>